<!DOCTYPE html>
<html>
  <head>
    <title>Prod</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		 <%= link_to "Home", pages_home_path %>
		 <%= link_to "Features", pages_features_path %>
		 <%= link_to "FAQs", pages_faq_path %>
		 <%= link_to "About Us", pages_about_path %>
		 <%= link_to "Contact Us", pages_contact_path %>
	     <<%= link_to "Login", dailycashes_path %>
<end>

    <%= yield %>
  </body>
</html>
